* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
}

nav h1 {
    font-family: "Pacifico", cursive;
    font-size: 40px;
    font-weight: 400;
    padding-right: 10px;
}

nav img {
    height: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

label {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    margin-bottom: 5px;
}

input[type="url"],
input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="url"]:focus,
input[type="text"]:focus {
    border-color: #FF5700;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 0, 0.2);
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #e14d00;
}

.hidden {
    display: none;
}

.pie {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    max-width: 80%;
    margin: 0 auto 20px;
}

canvas, #comments-container {
    max-width: 600px;
    width: 100%;
}

.comment {
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.query-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.query-item label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

.query-item input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s;
    flex: 1;
}

.query-item input[type="text"]:focus {
    border-color: #FF5700;
    outline: none;
}

#query-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

#add-query-btn, #remove-query-btn {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

#add-query-btn, 
#remove-query-btn:not(:disabled) {
    background-color: #FF5700;
    color: white;
}

#add-query-btn:hover, 
#remove-query-btn:not(:disabled):hover {
    background-color: #e14d00;
}

#remove-query-btn:disabled {
    background-color: #f0f0f0;
    color: #666;
    cursor: not-allowed;
}

button#submit-btn:not(:disabled) {
    background-color: #FF5700;
    color: white;
}

button#submit-btn:not(:disabled):hover {
    background-color: #e14d00;
    cursor: pointer;
}
